accelerate
beautifulsoup4
faster-whisper
imageio
imageio-ffmpeg
matplotlib
numpy
openai-whisper
opencv-python
pandas
playwright
python-dotenv
seaborn
statsmodels
tqdm
torch
transformers
torchvision
# vllm
